@{
    ViewData["Title"] = "About";
}

<!--
<h2></h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

-->

<div class="about-parent-container">
  <div class="about-child-container">
    <h1>@ViewData["Title"]</h1>
    <p>
      @ViewData["Message"]
    </p>
  </div>
</div>