@{
    ViewData["Title"] = "Home Page";
}


<div class="main flex-container">
  <div class="landing-left-side">
    <h2>Welcome to Enigma Chess</h2>
    <h3>Online Chess for you.</h3>
    <div class="landing-bishop">
      <span class="glyphicon glyphicon-bishop landing-bishop"></span>
    </div>
  </div>
  <div class="landing-sign-up">
    <h2>Sign Up</h2>
    <form>
      <div class="input-group input-padding">
        <input type="text" class="form-control form-horizontal" placeholder="Username">
      </div>
      <div class="input-group input-padding">
        <input type="text" class="form-control form-horizontal" placeholder="Email">
      </div>
      <div class="input-group input-padding">
        <input type="password" class="form-control form-horizontal" placeholder="Password">
      </div>
      <input type="submit" class="btn btn-info" value="Register">
    </form>
  </div>
</div>